/* ==========================================================================
   Blog List
   ========================================================================== */
.blog-list {
    padding-bottom: 10px;

    .blog-small-item-wrapper {
        max-width: 100%;
    }

    .row:not(:last-of-type) {
        padding-bottom: 30px;

        @media screen and (max-width: $sm-max) {
            padding-bottom: 20px;
        }
    }

    .row {
        @media screen and (max-width: $sm-max) {
            padding-left: 40px;
            padding-right: 40px;
        }

        .col:not(:last-of-type) {
            @media screen and (max-width: $sm-max) {
                padding-bottom: 20px;
            }
        }
    }

    .hide-mobile {
        display: block;

        @media screen and (max-width: $sm-max) {
            display: none;
        }
    }

    .mobile {
        display: none;

        @media screen and (max-width: $sm-max) {
            display: block;
        }
    }

    .pagination {
        margin: 5px auto;
        max-width: 350px;
        width: 100%;
        position: relative;

        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);

        &::before, &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 14px;
            height: 14px;
            top: 4px;
            cursor: pointer;
        }

        &::before {
            background-image: url(../images/shop-grid/prev-arrow.svg);
            right: 100%;
        }

        &::after {
            background-image: url(../images/shop-grid/next-arrow.svg);
            left: 100%;
        }

        @media screen and (max-width: $sm-max) {
            max-width: 300px;
        }

        .pagination__number {
            font-size: 13px;
            font-weight: 400;
            color: $black;
            position: relative;
            margin: 0 20px;
            cursor: pointer;
            padding: 5px;

            @media screen and (max-width: $sm-max) {
                margin: 0 5px;
            }

            &.active::after {
                content: "";
                position: absolute;
                background-color: #e2e2e2;

                @include border-radius(50%);

                width: 20px;
                height: 20px;
                top: 1px;
                left: -1px;
                z-index: -1;
            }
        }

        .pagination__break {
            letter-spacing: 5px;
        }

        .pagination__prev-arrow,
        .pagination__next-arrow {
            width: 20px;
            height: 20px;
            display: block;
            padding: 5px;
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (min-width: $md-max) {
                display: none;
            }
        }

        .pagination__prev-arrow {
            background-image: url(../images/shop-grid/prev-arrow.svg);
        }

        .pagination__next-arrow {
            background-image: url(../images/shop-grid/next-arrow.svg);
        }
    }

    .view-all-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}